<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
		<authentication mode="Forms">
			<forms loginUrl="InicioSesion.aspx" timeout="30" />
		</authentication>
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="InicioSesion.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<!-- PERMITIR ACCESO SIN AUTENTICACIÓN A PÁGINAS DE RESTABLECIMIENTO -->
	<location path="RestablecerContrasena.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="CodigoVerificacion.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="NuevaContrasena.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ConstribuyenteWSPortBinding" />
				<binding name="LibroWSPortBinding" />
				<binding name="BibliotecaWSPortBinding" />
				<binding name="RolWSPortBinding" />
				<binding name="EjemplarWSPortBinding" />
				<binding name="SancionWSPortBinding" />
				<binding name="MaterialWSPortBinding" />
				<binding name="PrestamoWSPortBinding" />
				<binding name="TesisWSPortBinding" />
				<binding name="ArticuloWSPortBinding" />
				<binding name="UsuarioWSPortBinding" />
				<binding name="CorreoWSPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/BibliotecaWS/ConstribuyenteWS"
			 binding="basicHttpBinding" bindingConfiguration="ConstribuyenteWSPortBinding"
			 contract="BibliotecaServices.ConstribuyenteWS" name="ConstribuyenteWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/LibroWS"
			 binding="basicHttpBinding" bindingConfiguration="LibroWSPortBinding"
			 contract="BibliotecaServices.LibroWS" name="LibroWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/BibliotecaWS"
			 binding="basicHttpBinding" bindingConfiguration="BibliotecaWSPortBinding"
			 contract="BibliotecaServices.BibliotecaWS" name="BibliotecaWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/RolWS"
			 binding="basicHttpBinding" bindingConfiguration="RolWSPortBinding"
			 contract="BibliotecaServices.RolWS" name="RolWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/EjemplarWS"
			 binding="basicHttpBinding" bindingConfiguration="EjemplarWSPortBinding"
			 contract="BibliotecaServices.EjemplarWS" name="EjemplarWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/SancionWS"
			 binding="basicHttpBinding" bindingConfiguration="SancionWSPortBinding"
			 contract="BibliotecaServices.SancionWS" name="SancionWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/MaterialWS"
			 binding="basicHttpBinding" bindingConfiguration="MaterialWSPortBinding"
			 contract="BibliotecaServices.MaterialWS" name="MaterialWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/CorreoWS"
			 binding="basicHttpBinding" bindingConfiguration="CorreoWSPortBinding"
			 contract="BibliotecaServices.CorreoWS" name="CorreoWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/PrestamoWS"
			 binding="basicHttpBinding" bindingConfiguration="PrestamoWSPortBinding"
			 contract="BibliotecaServices.PrestamoWS" name="PrestamoWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/TesisWS"
			 binding="basicHttpBinding" bindingConfiguration="TesisWSPortBinding"
			 contract="BibliotecaServices.TesisWS" name="TesisWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/ArticuloWS"
			 binding="basicHttpBinding" bindingConfiguration="ArticuloWSPortBinding"
			 contract="BibliotecaServices.ArticuloWS" name="ArticuloWSPort" />
			<endpoint address="http://localhost:8080/BibliotecaWS/UsuarioWS"
			 binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
			 contract="BibliotecaServices.UsuarioWS" name="UsuarioWSPort" />
		</client>
	</system.serviceModel>
</configuration>