
    /* TABLA  DE GESTION DE USUARIOS */

/* Contenedor del formulario: responsive total */
.custom-form-container {
    padding: 20px; /* Espacio interno */
    background-color: #fff; /* Fondo blanco */
    border-radius: 16px; /* Esquinas suaves */
    border: 1px solid #ebebeb; /* Borde gris clarito */
    box-shadow: 0 2px 6px rgba(0,0,0,0.05); /* Sombra sutil */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0; /* Sin margen para ocupar todo el espacio */
    box-sizing: border-box; /* Incluye padding dentro del ancho */
}

    /* Inputs y selects ocupan todo el ancho del contenedor */
    .custom-form-container .form-control,
    .custom-form-container .form-select {
        width: 100%; /* Se estiran horizontalmente */
        margin-bottom: 8px; /* Menos espacio entre campos */
        padding: 10px 12px;
        border-radius: 8px;
        box-sizing: border-box;
    }

    /* Filas con separación vertical más pequeña */
    .custom-form-container .row {
        margin-bottom: 8px; /* Menor espacio entre filas */
    }


/* TAMAÑO DEL LABEL DE GEST USUARIOS */

.form-label-admiUsuarios {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}

.admiUsuarios-input {
    font-size: 14px;
    padding: 10px 12px; /* Espacio interno */
    margin-bottom: 12px; /* Espacio entre campos */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 30px; /* Altura del input/dropdown */
    box-sizing: border-box; /* Evita que padding rompa el ancho */
}

.admiUsuarios-input.form-select {
    height: 30px;            /* altura fija */
    padding: 0 30px 0 10px;  /* padding: arriba/abajo = 0, derecha = 30px para la flecha, izquierda = 10px para texto */
    line-height: 30px;        /* centra verticalmente el texto */
    display: block;
}

.small-icon {
    font-size: 12px; /* tamaño personalizado */
    color: #d3d3d3; /* gris clarito */
}