/* === Etiquetas de roles estilo moderno === */
.contorno-rol {
    display: inline-block;
    color: #007bff;
    border: 1px solid #007bff;
    background-color: rgba(138, 188, 246, 0.15); /* celeste muy suave */
    border-radius: 20px;
    padding: 5px 12px;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
}

